@media (max-width: 600px) {
    .container {
        padding: 30px;
    }
    .title {
        width: 100%;
    }
    .user {
        gap: 10%;
    }
    .user_info_container {
        display: flex;
        gap: 5%;
        width: 100%;
    }
    .user_info_flex_box {
        display: block;
    }
    .user_info:first-of-type{
        padding-bottom: 20px;
    }
}